@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body {
    background-color: whitesmoke;
    font-family: "Ubuntu", sans-serif;
}

.shopbox{
    width: 80%;
    margin: 0 auto;
}
.shopbox h1{
    text-align: center;
    font-size: 4vmax;
    margin-top: 1rem;
}
/* Styles for screens larger than 768px */
.inputbox{
   text-align: center;
   margin: 2rem 0;
}
.inputbox input{
    width:300px;
}
.inputbox input[type="text"],
.inputbox button {
    
    padding: 10px; /* Add padding to the input field and button */
    font-size: 16px; /* Set the font size */
     /* Add some border radius to make it rounder */

}

/* Styles for screens smaller than or equal to 768px */
@media screen and (max-width: 768px) {
    .inputbox input[type="text"] {
        width: 100%; /* Set the width of the input field to 100% */
        margin-bottom: 10px; /* Add some space below the input field */
    }

    .inputbox button {
        width: 100%; /* Set the width of the button to 100% */
    }
}
.filter{
    text-align: center;
    margin: 2rem 0;
}
.filter input {
    padding: 10px; /* Add padding to the input field */
    border: none; /* Remove default border */
    border-bottom: 1px solid #ccc; /* Add border only at the bottom */
    font-size: 16px; /* Set the font size */
    width: 400px; /* Set the width of the input field */
    background-color: transparent;
    align-items: center;
    color:black;
}
.inputbox input[type="text"]:hover {
    border: transparent; /* Set border color to transparent on hover */
}

.list {
   text-align: center;
   width:50%;
   margin: 0 auto ;
   display: flex;
 
}

.list ul {
    list-style: none; /* Remove default list styles */
    padding: 0; /* Remove default padding */
}

.list li {
    margin: 5px 0; /* Add some margin between list items */
    border: 1px solid #ccc; /* Add border */
    border-radius: 5px; /* Add border radius */
    padding: 10px; /* Add padding inside the border */
    align-items: center; /* Center items vertically */
}

.list li:last-child {
    margin-bottom: 0; /* Remove margin from last list item */
}


.btn button{
    align-items: center;
    margin: 0 auto;
    padding: 10px; /* Add padding to the input field and button */
    font-size: 16px; /* Set the font size */
}